const ENV = {
    IdentityPoolId      : '<AWS region>:< id >',
    authorizationUrl    : 'https:// <IdentityServer3 hostname> /oauth/ls/connect/authorize',
    redirectUrl         : 'http://localhost:44305/index.html',
    dynamo : {
        region      : '< AWS region >',
        tableName   : 'myTable'
    }
};
