const ENV = {
    authorizationUrl    : 'https:// <IdentityServer3 hostname> /oauth/ls/connect/authorize',
    redirectUrl         : 'http://localhost:44305/index.html',
    cognito : {
        region      : '< AWS region >',
        IdentityPoolId      : '<AWS region>:< id >',
        provider : '< hostname >/oauth/ls'
    },
    dynamo : {
        region      : '< AWS region >',
        tableName   : 'myTable'
    }
};
